# Desafio 6

Neste desafio, vamos praticar _feature engineering_, um dos processos mais importantes e trabalhosos de ML. Utilizaremos o _data set_ [Countries of the world](https://www.kaggle.com/fernandol/countries-of-the-world), que contém dados sobre os 227 países do mundo com informações sobre tamanho da população, área, imigração e setores de produção.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Setup_ geral

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn as sk
import string as str
from sklearn.preprocessing import (
    OneHotEncoder, Binarizer, KBinsDiscretizer,
    MinMaxScaler, StandardScaler, PolynomialFeatures
)
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.datasets import fetch_20newsgroups
from sklearn.feature_extraction.text import (
    CountVectorizer, TfidfTransformer, TfidfVectorizer
)

In [2]:
countries = pd.read_csv("countries.csv")

In [3]:
new_column_names = [
    "Country", "Region", "Population", "Area", "Pop_density", "Coastline_ratio",
    "Net_migration", "Infant_mortality", "GDP", "Literacy", "Phones_per_1000",
    "Arable", "Crops", "Other", "Climate", "Birthrate", "Deathrate", "Agriculture",
    "Industry", "Service"
]

countries.columns = new_column_names

countries.head(5)

,Country,Region,Population,Area,Pop_density,Coastline_ratio,Net_migration,Infant_mortality,GDP,Literacy,Phones_per_1000,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

## Observações

Esse _data set_ ainda precisa de alguns ajustes iniciais. Primeiro, note que as variáveis numéricas estão usando vírgula como separador decimal e estão codificadas como strings. Corrija isso antes de continuar: transforme essas variáveis em numéricas adequadamente.

Além disso, as variáveis `Country` e `Region` possuem espaços a mais no começo e no final da string. Você pode utilizar o método `str.strip()` para remover esses espaços.

## Inicia sua análise a partir daqui

In [4]:
# Sua análise começa aqui.
countries['Country'].str.strip()

0               Afghanistan
1                   Albania
2                   Algeria
3            American Samoa
4                   Andorra
5                    Angola
6                  Anguilla
7         Antigua & Barbuda
8                 Argentina
9                   Armenia
10                    Aruba
11                Australia
12                  Austria
13               Azerbaijan
14             Bahamas, The
15                  Bahrain
16               Bangladesh
17                 Barbados
18                  Belarus
19                  Belgium
20                   Belize
21                    Benin
22                  Bermuda
23                   Bhutan
24                  Bolivia
25     Bosnia & Herzegovina
26                 Botswana
27                   Brazil
28       British Virgin Is.
29                   Brunei
               ...
197                   Syria
198                  Taiwan
199              Tajikistan
200                Tanzania
201                Thailand
202                    Togo
203                   Tonga
204       Trinidad & Tobago
205                 Tunisia
206                  Turkey
207            Turkmenistan
208       Turks & Caicos Is
209                  Tuvalu
210                  Uganda
211                 Ukraine
212    United Arab Emirates
213          United Kingdom
214           United States
215                 Uruguay
216              Uzbekistan
217                 Vanuatu
218               Venezuela
219                 Vietnam
220          Virgin Islands
221       Wallis and Futuna
222               West Bank
223          Western Sahara
224                   Yemen
225                  Zambia
226                Zimbabwe
Name: Country, Length: 227, dtype: object

In [5]:
countries['Region'].str.strip()

0      ASIA (EX. NEAR EAST)
1            EASTERN EUROPE
2           NORTHERN AFRICA
3                   OCEANIA
4            WESTERN EUROPE
5        SUB-SAHARAN AFRICA
6       LATIN AMER. & CARIB
7       LATIN AMER. & CARIB
8       LATIN AMER. & CARIB
9       C.W. OF IND. STATES
10      LATIN AMER. & CARIB
11                  OCEANIA
12           WESTERN EUROPE
13      C.W. OF IND. STATES
14      LATIN AMER. & CARIB
15                NEAR EAST
16     ASIA (EX. NEAR EAST)
17      LATIN AMER. & CARIB
18      C.W. OF IND. STATES
19           WESTERN EUROPE
20      LATIN AMER. & CARIB
21       SUB-SAHARAN AFRICA
22         NORTHERN AMERICA
23     ASIA (EX. NEAR EAST)
24      LATIN AMER. & CARIB
25           EASTERN EUROPE
26       SUB-SAHARAN AFRICA
27      LATIN AMER. & CARIB
28      LATIN AMER. & CARIB
29     ASIA (EX. NEAR EAST)
               ...
197               NEAR EAST
198    ASIA (EX. NEAR EAST)
199     C.W. OF IND. STATES
200      SUB-SAHARAN AFRICA
201    ASIA (EX. NEAR EAST)
202      SUB-SAHARAN AFRICA
203                 OCEANIA
204     LATIN AMER. & CARIB
205         NORTHERN AFRICA
206               NEAR EAST
207     C.W. OF IND. STATES
208     LATIN AMER. & CARIB
209                 OCEANIA
210      SUB-SAHARAN AFRICA
211     C.W. OF IND. STATES
212               NEAR EAST
213          WESTERN EUROPE
214        NORTHERN AMERICA
215     LATIN AMER. & CARIB
216     C.W. OF IND. STATES
217                 OCEANIA
218     LATIN AMER. & CARIB
219    ASIA (EX. NEAR EAST)
220     LATIN AMER. & CARIB
221                 OCEANIA
222               NEAR EAST
223         NORTHERN AFRICA
224               NEAR EAST
225      SUB-SAHARAN AFRICA
226      SUB-SAHARAN AFRICA
Name: Region, Length: 227, dtype: object

In [6]:
colunas_string = countries.columns[countries.dtypes == 'object'][2:]
for i in colunas_string:
    countries[i] = countries[i].str.replace(',','.')
    countries[i] = countries[i].astype(float)

In [7]:
discretizer = KBinsDiscretizer(n_bins=10, encode="ordinal", strategy="quantile")
discretizer.fit(countries[["Pop_density"]])
score_bins = discretizer.transform(countries[["Pop_density"]])
int(sum(score_bins[:, 0] == 9))

23

In [8]:
one_hot_encoder = OneHotEncoder(sparse=False, dtype=np.int)
region_climate_encode = one_hot_encoder.fit_transform(countries[["Region" , "Climate"]].fillna(-1))
region_climate_encode.shape[1]

18

## Questão 1

Quais são as regiões (variável `Region`) presentes no _data set_? Retorne uma lista com as regiões únicas do _data set_ com os espaços à frente e atrás da string removidos (mas mantenha pontuação: ponto, hífen etc) e ordenadas em ordem alfabética.

In [9]:
def q1():
    return sorted(countries['Region'].unique())

## Questão 2

Discretizando a variável `Pop_density` em 10 intervalos com `KBinsDiscretizer`, seguindo o encode `ordinal` e estratégia `quantile`, quantos países se encontram acima do 90º percentil? Responda como um único escalar inteiro.

In [10]:
def q2():
    discretizer = KBinsDiscretizer(n_bins=10, encode="ordinal", strategy="quantile")
    discretizer.fit(countries[["Pop_density"]])
    score_bins = discretizer.transform(countries[["Pop_density"]])
    return int(sum(score_bins[:, 0] == 9))
    pass
q2()

23

# Questão 3

Se codificarmos as variáveis `Region` e `Climate` usando _one-hot encoding_, quantos novos atributos seriam criados? Responda como um único escalar.

In [11]:
def q3():
    one_hot_encoder = OneHotEncoder(sparse=False, dtype=np.int)
    region_climate_encode = one_hot_encoder.fit_transform(countries[["Region" , "Climate"]].fillna(-1))
    return region_climate_encode.shape[1]
    pass
q3()

18

## Questão 4

Aplique o seguinte _pipeline_:

1. Preencha as variáveis do tipo `int64` e `float64` com suas respectivas medianas.
2. Padronize essas variáveis.

Após aplicado o _pipeline_ descrito acima aos dados (somente nas variáveis dos tipos especificados), aplique o mesmo _pipeline_ (ou `ColumnTransformer`) ao dado abaixo. Qual o valor da variável `Arable` após o _pipeline_? Responda como um único float arredondado para três casas decimais.

In [12]:
test_country = [
    'Test Country', 'NEAR EAST', -0.19032480757326514,
    -0.3232636124824411, -0.04421734470810142, -0.27528113360605316,
    0.13255850810281325, -0.8054845935643491, 1.0119784924248225,
    0.6189182532646624, 1.0074863283776458, 0.20239896852403538,
    -0.043678728558593366, -0.13929748680369286, 1.3163604645710438,
    -0.3699637766938669, -0.6149300604558857, -0.854369594993175,
    0.263445277972641, 0.5712416961268142
]

In [13]:
def q4():
    test_country_df = pd.DataFrame([test_country], columns=countries.columns)
    nums_pipeline = Pipeline(steps=[
        ('fill_median', SimpleImputer(missing_values=np.nan, strategy='median')),
        ('standardize', StandardScaler())
    ])
    nums = nums_pipeline.fit_transform(countries.iloc[:,2:])
    nums = nums_pipeline.transform(test_country_df.iloc[:,2:])
    return float(pd.DataFrame([nums[0]], columns=countries.columns[2:])['Arable'].round(3))
q4()

-1.047

## Questão 5

Descubra o número de _outliers_ da variável `Net_migration` segundo o método do _boxplot_, ou seja, usando a lógica:

$$x \notin [Q1 - 1.5 \times \text{IQR}, Q3 + 1.5 \times \text{IQR}] \Rightarrow x \text{ é outlier}$$

que se encontram no grupo inferior e no grupo superior.

Você deveria remover da análise as observações consideradas _outliers_ segundo esse método? Responda como uma tupla de três elementos `(outliers_abaixo, outliers_acima, removeria?)` ((int, int, bool)).

In [14]:
net_migration = countries['Net_migration']

In [15]:
def q5():
    q_1 = net_migration.quantile(0.25)
    q_3 = net_migration.quantile(0.75)
    iqr = q_3 - q_1

    non_outlier_interval_iqr = [q_1 - 1.5 * iqr, q_3 + 1.5 * iqr]

    outliers_iqr_lower = net_migration[(net_migration < non_outlier_interval_iqr[0])]
    outliers_iqr_upper = net_migration[(net_migration > non_outlier_interval_iqr[1])]
    
    return (len(outliers_iqr_lower), len(outliers_iqr_upper), False)
q5()

(24, 26, False)

## Questão 6
Para as questões 6 e 7 utilize a biblioteca `fetch_20newsgroups` de datasets de test do `sklearn`

Considere carregar as seguintes categorias e o dataset `newsgroups`:

```
categories = ['sci.electronics', 'comp.graphics', 'rec.motorcycles']
newsgroup = fetch_20newsgroups(subset="train", categories=categories, shuffle=True, random_state=42)
```


Aplique `CountVectorizer` ao _data set_ `newsgroups` e descubra o número de vezes que a palavra _phone_ aparece no corpus. Responda como um único escalar.

In [16]:
categories = ['sci.electronics', 'comp.graphics', 'rec.motorcycles']
newsgroup = fetch_20newsgroups(subset="train", categories=categories, shuffle=True, random_state=42)

In [17]:
def q6():
    count_vectorizer = CountVectorizer()
    newsgroup_counts = count_vectorizer.fit_transform(newsgroup.data)

    phones = count_vectorizer.vocabulary_.get('phone')
    
    return int(newsgroup_counts[:, phones].toarray().sum())
    pass
q6()

213

## Questão 7

Aplique `TfidfVectorizer` ao _data set_ `newsgroups` e descubra o TF-IDF da palavra _phone_. Responda como um único escalar arredondado para três casas decimais.

In [18]:
def q7():
    tfidf_vectorizer = TfidfVectorizer()
    newsgroup_tfidf_vectorized = tfidf_vectorizer.fit_transform(newsgroup.data)   
    
    phones = tfidf_vectorizer.vocabulary_.get('phone')

    return float(np.round(newsgroup_tfidf_vectorized[:, phones].toarray().sum(),3))
    pass
q7()

8.888